$def with (builds, site_url, pageNum, total_page)

$var cssfiles: /static/bootstrap/css/bootstrap.css /static/bootstrap/css/custom.css
$var site_url: $site_url

<form class="well form-inline" method="post" action ="add" id="addBuildForm">
	<input type="text" id="add-repos" class="required github" name="repos" placeholder="Git Repository URI"/>
	<input type="text" id="add-branch" class="required" name="branch" placeholder="Branch" />
	<input type="text" id="add-version" class="required version" name="version" placeholder="Mapped Version" />
	<input type="text" id="add-author" class="required" name="author" placeholder="Author" />
	<button type="submit" class="btn btn-primary">Add</button>
  <br />
	<input type="text" id="add-styleguide_repo" class="required SubmoduleInput" name="styleguide_repo" value="git@github.com:sugarcrm/styleguide.git" />
	<input type="text" id="add-styleguide_branch" class="required SubmoduleInput" name="styleguide_branch" value="master_7_0" />
	<input type="text" id="add-sidecar_repo" class="required SubmoduleInput" name="sidecar_repo" value="git@github.com:sugarcrm/sidecar.git" />
	<input type="text" id="add-sidecar_branch" class="required SubmoduleInput" name="sidecar_branch" value="master" />
</form>

 <div class="alert">
     <button type="button" class="close" data-dismiss="alert">×</button>
     <strong>Notice!</strong> Build will be pruned automatically every 2 weeks for every build dosn't active in 2 weeks! And you can uncheck expired checkbox in build edit page to make build live forever.
</div>
	<table class="table table-condensed">
	<thead>
		<tr>
		<th>Branch</th>
		<th>Version</th>
		<th>Latest Build</th>
		<th>Build #</th>
		<th>Status</th>
		<th>Repository URI</th>
		<th>Author</th>
		<th>Log</th>
		<th>Actions</th>
		</tr>
	</thead>
	<tbody id="buildList-tbody">
        <div class="pagination pagination-right">
            <ul>
                <li id="buildList-firstPage" class="active"><a id="buildList-firstPage-link" href="#">&laquo;</a></li>
                <li id="buildList-prePage" class="active"><a id="buildList-prePage-link" href="#">&lt;</a></li>
                <li class="disabled"><a id="buildList-pageNum-link" href="#">$pageNum of ${total_page}</a></li>
                <input type="hidden" id="buildList-pageNum" value="${pageNum}" />
                <input type="hidden" id="buildList-totalPage" value="${total_page}" />
                <li id="buildList-nextPage" class="active"><a id="buildList-nextPage-link" href="#">&gt;</a></li>
                <li id="buildList-lastPage" class="active"><a id="buildList-lastPage-link" href="#">&raquo;</a></li>
            </ul>
        </div>
	$for build in builds:
		<tr id="$build.task_id">
			<td><a href="../build${build.username}${build.branch}">$build.branch</a></td>
			<td>$build.version</td>
            <td><a href="../public/builds/${build.username}${build.branch}/latest">${build.last_build_date}</a></td>
            <td>${build.build_number}</td>
			<td name="list_status" class="${build.status}" id="build_status_${build.task_id}">$build.status</td>
			<td>$build.repos</td>
			<td>$build.author</td>
			<td><a href="/logs/builds/${build.task_id}.log" target="_blank">log</a></td>
			<td>
			<input type="button" class="btn btn-success" name="rebuild" id="buildList-$build.task_id"  value="Build" >
			<input type="button" data-toggle="modal" name="editBuild" class="btn" data-target="#popupViewBuild" id="editList-$build.task_id" value="Edit" >
            $if build.status == 'Running' or build.status == 'InQueue':
                <a href="stopbuild?task_id=${build.task_id}" name="stopBuild" class="btn" id="stopList-$build.task_id" >Stop</a>
            $else:
                $pass

			<a data-toggle="modal" name="duplicateBuild" class="btn" data-target="#popupViewBuild" id="dupList-$build.task_id" >Duplicate</a>
			<input type="button" class="btn btn-danger" name="removeBuild" id="buildListRemove-$build.task_id" value="Remove">
			</td>
		</tr>
	</tbody>
	</table>
</div>
	<div class="modal hide fade" id="popupViewBuild" >
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >x</a>
			<h3 id="popView-title">Loading build task, please wait or refresh current page!</h3>
			<input type="hidden" id="popView-selectAction" value="" />
			<input type="hidden" id="popView-selectBuildID" value="" />
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" method="post" action ="add" id="popView-actionBuildForm">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="popView-repos">Repository URL:</label>
						<div class="controls">
							<input type="text" class="required github" id="popView-repos" name="repos" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-branch">Branch:</label>
						<div class="controls">
							<input type="text" id="popView-branch"  class="required" name="branch" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-version">Mapped Version:</label>
						<div class="controls">
							<input type="text" id="popView-version" class="required version" name="version" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-package_list">Packages:</label>
						<div class="controls">
							<input type="text" id="popView-package_list" class="required" name="package_list" /><a href="#" id="package-help-info"><i class="icon-info-sign"></i></a>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-upgrade_package">Upgrade Package:</label>
						<div class="controls">
							<input type="checkbox" id="popView-upgrade_package" name="upgrade_package" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-latin">Latin:</label>
						<div class="controls">
							<input type="checkbox" id="popView-latin" name="latin" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-demo_data">Demo data:</label>
						<div class="controls">
							<input type="checkbox" id="popView-demo_data" name="demo_data" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-author">Author:</label>
						<div class="controls">
							<input type="text" id="popView-author" class="required" name="author" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-sidecar_repo">Sidecar Repository:</label>
						<div class="controls">
							<input type="text" id="popView-sidecar_repo" class="required" name="sidecar_repo" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-sidecar_branch">Sidecar Branch:</label>
						<div class="controls">
							<input type="text" id="popView-sidecar_branch" class="required" name="sidecar_branch" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-styleguide_repo">Styleguide Repository:</label>
						<div class="controls">
							<input type="text" id="popView-styleguide_repo" class="required" name="styleguide_repo" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-styleguide_repo">Styleguide Branch:</label>
						<div class="controls">
							<input type="text" id="popView-styleguide_branch" class="required" name="styleguide_branch" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-expired_tag">Expired:</label>
						<div class="controls">
							<input type="checkbox" id="popView-expired_tag" name="expired_tag" />
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn" href="#" data-dismiss="modal">Cancel</a>
			<a class="btn btn-primary" id="popView-Save" href="#">Save</a>
		</div>
	</div>		
	<div class="modal hide fade" id="popupViewMail" >
		<div class="modal-header">
			<a class="close" data-dismiss="modal" >x</a>
			<h3 id="popView-title">Send email to admin!</h3>
			<input type="hidden" id="popView-selectAction" value="" />
			<input type="hidden" id="popView-selectBuildID" value="" />
		</div>
		<div class="modal-body">
			<form class="well form-horizontal" method="post" action ="sendmail" id="popView-sendMailForm">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="popView-MailTo">To: </label>
						<div class="controls">
							<input readonly="readonly" type="text" class="required" id="popView-MailTo" name="to" value="oyang@sugarcrm.com" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailFrom">From: </label>
						<div class="controls">
							<input type="text" class="required email" id="popView-MailFrom" name="from_address" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailSubject">Subject: </label>
						<div class="controls">
							<input type="text" id="popView-MailSubject"  class="required" name="subject" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="popView-MailMessage">Message: </label>
						<div class="controls">
							<textarea id="popView-MailMessage" rows="9" cols="30"  class="required input-xlarge" name="message" ></textarea>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="modal-footer">
			<a class="btn" href="#" data-dismiss="modal">Cancel</a>
			<a class="btn btn-primary" id="popView-Send" href="#">Send</a>
		</div>
	</div>
    <script src="/static/bootstrap/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/jquery.validate.min.js"></script>
    <script src="/static/bootstrap/js/validate.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/favico.js/favico-0.1.1.min.js"></script>
    <script src="/static/bootstrap/js/custom.js"></script>
